<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@{
	ViewBag.Title = "Edit Category";
}

<partial name="_CategoryFormPartial" model="@Model" />

@section Scripts{
		<partial name="_ValidationScriptsPartial" />
}