@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@if (this.User.IsInRole("Administrator"))
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4 text-center">Welcome to the our Shopping List!</h1>
        <p class="lead text-center">
            There are no products in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead text-center">
            @if (this.User?.Identity?.IsAuthenticated ?? false)
            {
                 <a asp-controller="Product" asp-action="All" class="btn btn-primary btn-lg"
           role="button">All Products</a>

                <a asp-controller="Product" asp-action="Add" class="btn btn-primary btn-lg"
           role="button">Add Product</a>
            }
        </p>
    </div>
} else
{
     <div class="mt-4 p-5 bg-light">
        <h1 class="display-4 text-center">Welcome to our Shopping List!</h1>
        <p class="lead text-center">
            
        </p>
        <hr class="my-4">
        <p class="lead text-center">
            @if (this.User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="Product" asp-action="All" class="btn btn-primary btn-lg"
           role="button">All Products</a>
            }
        </p>
    </div>   
}
